body{
    background-color: azure;
    align-items: center;
    font-weight: lighter;
}
h1{
   text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
ul{
    text-align: center;
}
.about{
    background-color:black;
    color:white ;

}
address{
   text-align: center;
}