body{
        background-image: url(night.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 20cm;
 }
 h1 {
     color: white;
 }
 button{
    text-decoration: none;
 }